# yahoo finance 에서 기업별 재무제표 추출하기(Income Statement)

In [14]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

* 야후 파이낸스에는 자바스크립트로 되어 있는 데이터가 존재합니다. 
* 자바스크립트는 requests에서 실행이 되지 않기 때문에 간단하게 selenium를 사용하겠습니다.

In [73]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [74]:
driver = webdriver.Chrome("C:\chromedriver\chromedriver.exe")

* 제공된 미국의 종목 리스트를 호출합니다.

In [4]:
us_stock = pd.read_excel("./야후파이낸스에서 사용할 미국 종목 리스트.xls")

In [5]:
us_stock

,name_trans,stock_symbol,exchange_trans,industry_trans
0,아마존닷컴,AMZN,나스닥,소매(카탈로그와 메일 주문)
1,애플,AAPL,나스닥,통신 장비
2,Alphabet C,GOOG,나스닥,컴퓨터 서비스
3,Alphabet A,GOOGL,나스닥,컴퓨터 서비스
4,페이스북,FB,나스닥,컴퓨터 서비스
5,버크셔 해서웨이 B,BRKb,뉴욕,보험 (손해)
6,Berkshire Hathaway Inc,BRKa,뉴욕,보험 (손해)
7,Crown Castle Pref,CCI_pa,뉴욕,렌탈과 리스
8,Alibaba ADR,BABA,뉴욕,소매(카탈로그와 메일 주문)
9,Tencent ADR,TCEHY,OTC Markets,NaN
10,Tencent Holdings,TCTZF,OTC Markets,컴퓨터 서비스
11,Visa A,V,뉴욕,사업 서비스
12,JPMorgan Chase Pref EE,JPM_pc,뉴욕,NaN
13,JPMorgan Chase & Co Pa ADR,JPM_pa,뉴욕,NaN
14,JPMorgan Chase & Co Pe ADR,JPM_pe,뉴욕,NaN
15,JPMorgan Chase & Co Ph ADR,JPM_ph,뉴욕,NaN
16,JPMorgan Chase & Co Pg ADR,JPM_pg,뉴욕,NaN
17,제이피모건체이스,JPM,뉴욕,투자 서비스
18,JPMorgan Chase & Co Pf ADR,JPM_pf,뉴욕,NaN
19,존슨 앤 존슨,JNJ,뉴욕,생물공학 및 약품
20,월마트,WMT,뉴욕,소매(식료잡화)
21,엑슨모빌,XOM,뉴욕,석유와 가스 운용
22,Nestle ADR,NSRGY,OTC Markets,NaN
23,네슬레,NSRGF,OTC Markets,음료 (비알코올성)
24,Industrial Commercial Bank of China,IDCBY,OTC Markets,NaN
25,Mastercard,MA,뉴욕,소비자 금융 서비스
26,프록터 앤 갬블,PG,뉴욕,개인과 가계용 제품
27,뱅크 오브 어메리카,BAC,뉴욕,지방 은행
28,Bank of America Pm,BAC_pm,뉴욕,NaN
29,Bank of America Corp Ph ADR,BML_ph,뉴욕,NaN
...,...,...,...,...
9970,Green Parts Intl Inc,GNPT,OTC Markets,다종 운송
9971,Health Rev Assurn,HRAA,OTC Markets,건설 – 원자재
9972,Santeon,SANT,OTC Markets,소프트웨어와 프로그래밍
9973,Urologix Inc,ULGX,OTC Markets,의료 장비와 용품
9974,Sk3 Group Inc,SKTO,OTC Markets,소매(카탈로그와 메일 주문)
9975,Bigstring Corp,BSGC,OTC Markets,소프트웨어와 프로그래밍
9976,Soyo Group Inc,SOYO,OTC Markets,오디오와 비디오 장비
9977,Universal Energy,UVSE,OTC Markets,석유와 가스 운용
9978,Genufood Energy,GFOO,OTC Markets,생물공학 및 약품
9979,JPX Global,JPEX,OTC Markets,다종 금융 서비스
9980,Nitches,NICH,OTC Markets,의복/액세서리
9981,Triangle Petrol,TPLMQ,OTC Markets,석유와 가스 운용
9982,Monster Arts,APPZ,OTC Markets,인쇄와 출판
9983,Chelsea Oil & Gas,COGLF,OTC Markets,석유와 가스 – 통합
9984,Trophy Resources Inc,TRSI,OTC Markets,석유와 가스 운용
9985,GeoVax Labs,GOVX,OTC Markets,생물공학 및 약품
9986,4Cable Tv Internatio,CATV,OTC Markets,다종 조립 제품
9987,Securcapital,CQER,OTC Markets,석유와 가스 – 통합
9988,DNA Brands,DNAX,OTC Markets,음료 (비알코올성)
9989,Noranda Aluminum,NORNQ,OTC Markets,금속 광업
9990,Conforce,CFRI,OTC Markets,조립식 플라스틱과 고무
9991,Genelink,GNLKQ,OTC Markets,헬쓰케어 설비
9992,Gex Management,GXXM,OTC Markets,사업 서비스
9993,Enable,ENAB,OTC Markets,소매(카탈로그와 메일 주문)
9994,Borneo Resource,BRNE,OTC Markets,석탄
9995,PureRay,PURY,OTC Markets,전자 장비와 제어기
9996,Makism 3D Corp,MDDD,OTC Markets,컴퓨터 주변기기
9997,ML Capital,MLCG,OTC Markets,다종 금융 서비스
9998,RIT Technologies,RITT,OTC Markets,통신 장비
9999,Glori Energy Inc,GLRI,OTC Markets,석유와 가스 – 통합

* url에 동시에 같은 종목 코드가 들어가기 때문에 {}를 두개를 사용하지만 같은 위치(0번째) 값을 가져옵니다.

In [37]:
url = "https://finance.yahoo.com/quote/{0}/financials?p={0}"

In [124]:
name_code = "BABA"

In [125]:
url.format(name_code)

'https://finance.yahoo.com/quote/BABA/financials?p=BABA'

In [130]:
driver.get(url.format("FB"))

In [129]:
driver.find_element_by_css_selector('#Col1-1-Financials-Proxy > section > div.Mt\(18px\).Mb\(14px\) > div.Fl\(end\).smartphone_Mt\(4px\) > button > div > span').click()

In [131]:
bs = BeautifulSoup(driver.page_source, 'lxml')

In [132]:
bs_rt = bs.find("table", class_="Lh(1.7) W(100%) M(0)")

In [134]:
type(bs_rt)

bs4.element.Tag

In [136]:
df = pd.read_html(str(bs_rt))[0]

In [140]:
df

,0,1,2,3,4
0,Revenue,12/31/2018,12/31/2017,12/31/2016,12/31/2015
1,Total Revenue,55838000,40653000,27638000,17928000
2,Cost of Revenue,9355000,5454000,3789000,2867000
3,Gross Profit,46483000,35199000,23849000,15061000
4,Operating Expenses,Operating Expenses,Operating Expenses,Operating Expenses,Operating Expenses
5,Research Development,10273000,7754000,5919000,4816000
6,Selling General and Administrative,11297000,7242000,5503000,4020000
7,Non Recurring,-,-,-,-
8,Others,-,-,-,-
9,Total Operating Expenses,30925000,20450000,15211000,11703000
10,Operating Income or Loss,24913000,20203000,12427000,6225000
11,Income from Continuing Operations,Income from Continuing Operations,Income from Continuing Operations,Income from Continuing Operations,Income from Continuing Operations
12,Total Other Income/Expenses Net,448000,391000,91000,-31000
13,Earnings Before Interest and Taxes,24913000,20203000,12427000,6225000
14,Interest Expense,-9000,-6000,-10000,-23000
15,Income Before Tax,25361000,20594000,12518000,6194000
16,Income Tax Expense,3249000,4660000,2301000,2506000
17,Minority Interest,-,-,-,-
18,Net Income From Continuing Ops,22112000,15934000,10217000,3688000
19,Non-recurring Events,Non-recurring Events,Non-recurring Events,Non-recurring Events,Non-recurring Events
20,Discontinued Operations,-,-,-,-
21,Extraordinary Items,-,-,-,-
22,Effect Of Accounting Changes,-,-,-,-
23,Other Items,-,-,-,-
24,Net Income,Net Income,Net Income,Net Income,Net Income
25,Net Income,22112000,15934000,10217000,3688000
26,Preferred Stock And Other Adjustments,-,-,-,-
27,Net Income Applicable To Common Shares,22111000,15920000,10188000,3669000

In [139]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,Revenue,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Net Income From Continuing Ops,Non-recurring Events,Discontinued Operations,Extraordinary Items,Effect Of Accounting Changes,Other Items,Net Income,Net Income,Preferred Stock And Other Adjustments,Net Income Applicable To Common Shares
1,12/31/2018,55838000,9355000,46483000,Operating Expenses,10273000,11297000,-,-,30925000,...,22112000,Non-recurring Events,-,-,-,-,Net Income,22112000,-,22111000
2,12/31/2017,40653000,5454000,35199000,Operating Expenses,7754000,7242000,-,-,20450000,...,15934000,Non-recurring Events,-,-,-,-,Net Income,15934000,-,15920000
3,12/31/2016,27638000,3789000,23849000,Operating Expenses,5919000,5503000,-,-,15211000,...,10217000,Non-recurring Events,-,-,-,-,Net Income,10217000,-,10188000
4,12/31/2015,17928000,2867000,15061000,Operating Expenses,4816000,4020000,-,-,11703000,...,3688000,Non-recurring Events,-,-,-,-,Net Income,3688000,-,3669000

In [99]:
df_trans = df.transpose()

In [100]:
df_trans.columns = df_trans.iloc[0]

In [101]:
df_trans.drop(df_trans.index[0], axis=0, inplace=True)

In [102]:
df_trans

,Revenue,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Net Income From Continuing Ops,Non-recurring Events,Discontinued Operations,Extraordinary Items,Effect Of Accounting Changes,Other Items,Net Income,Net Income,Preferred Stock And Other Adjustments,Net Income Applicable To Common Shares
1,12/31/2018,55838000,9355000,46483000,Operating Expenses,10273000,11297000,-,-,30925000,...,22112000,Non-recurring Events,-,-,-,-,Net Income,22112000,-,22111000
2,12/31/2017,40653000,5454000,35199000,Operating Expenses,7754000,7242000,-,-,20450000,...,15934000,Non-recurring Events,-,-,-,-,Net Income,15934000,-,15920000
3,12/31/2016,27638000,3789000,23849000,Operating Expenses,5919000,5503000,-,-,15211000,...,10217000,Non-recurring Events,-,-,-,-,Net Income,10217000,-,10188000
4,12/31/2015,17928000,2867000,15061000,Operating Expenses,4816000,4020000,-,-,11703000,...,3688000,Non-recurring Events,-,-,-,-,Net Income,3688000,-,3669000

In [148]:
annual = []
quarterly = []
count = 0
for content in us_stock.iterrows():
    print (content[1]['stock_symbol'])
    name_code = content[1]['stock_symbol'].upper().replace("_", "-")
    # Anuual / Quarterly 가져오기 위해서 
    driver.get(url.format(name_code))
    for cnt in range(2):
        try:
            bs = BeautifulSoup(driver.page_source, 'lxml')
            bs_rt = bs.find("table", class_="Lh(1.7) W(100%) M(0)")
            df = pd.read_html(str(bs_rt))[0]
        except Exception as error:
            print (error)
            break
        
        df_trans = df.transpose()
        df_trans.columns = df_trans.iloc[0]
        df_trans.drop(df_trans.index[0], axis=0, inplace=True)
        df_trans['code'] = name_code
        if(cnt == 0):
            annual.append(df_trans)
            driver.find_element_by_css_selector('#Col1-1-Financials-Proxy > section > div.Mt\(18px\).Mb\(14px\) > div.Fl\(end\).smartphone_Mt\(4px\) > button > div > span').click()
        elif(cnt == 1):
            quarterly.append(df_trans)
    count+=1
    if(count == 20):
        break

AMZN
AAPL
GOOG
GOOGL
FB
BRKb
BRKa
CCI_pa
BABA
TCEHY
TCTZF
V
JPM_pc
JPM_pa
JPM_pe
JPM_ph
JPM_pg
JPM
JPM_pf
JNJ

In [151]:
annual[-1]

,Revenue,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Non-recurring Events,Discontinued Operations,Extraordinary Items,Effect Of Accounting Changes,Other Items,Net Income,Net Income,Preferred Stock And Other Adjustments,Net Income Applicable To Common Shares,code
1,12/30/2018,81581000,26986000,54595000,Operating Expenses,10775000,22413000,-,-,60174000,...,Non-recurring Events,-,-,-,-,Net Income,15297000,-,15297000,JNJ
2,12/31/2017,76450000,24939000,51511000,Operating Expenses,10594000,21295000,-,-,56828000,...,Non-recurring Events,-,-,-,-,Net Income,1300000,-,1300000,JNJ
3,1/1/2017,71890000,21789000,50101000,Operating Expenses,9143000,19793000,-,-,50725000,...,Non-recurring Events,-,-,-,-,Net Income,16540000,-,16540000,JNJ
4,1/3/2016,70074000,21455000,48619000,Operating Expenses,9046000,21203000,-,-,51704000,...,Non-recurring Events,-,-,-,-,Net Income,15409000,-,15409000,JNJ

In [152]:
quarterly[-1]

,Revenue,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Non-recurring Events,Discontinued Operations,Extraordinary Items,Effect Of Accounting Changes,Other Items,Net Income,Net Income,Preferred Stock And Other Adjustments,Net Income Applicable To Common Shares,code
1,6/30/2019,20562000,6902000,13660000,Operating Expenses,2666000,5546000,-,-,15114000,...,Non-recurring Events,-,-,-,-,Net Income,5607000,-,5607000,JNJ
2,3/31/2019,20021000,6592000,13429000,Operating Expenses,2858000,5123000,-,-,14573000,...,Non-recurring Events,-,-,-,-,Net Income,3749000,-,3749000,JNJ
3,12/30/2018,20394000,6856000,13538000,Operating Expenses,3224000,5961000,-,-,16041000,...,Non-recurring Events,-,-,-,-,Net Income,3042000,-,3042000,JNJ
4,9/30/2018,20348000,6566000,13782000,Operating Expenses,2508000,5514000,-,-,14588000,...,Non-recurring Events,-,-,-,-,Net Income,3934000,-,3934000,JNJ

In [153]:
pd.concat(annual)

,Revenue,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,...,Non-recurring Events,Discontinued Operations,Extraordinary Items,Effect Of Accounting Changes,Other Items,Net Income,Net Income,Preferred Stock And Other Adjustments,Net Income Applicable To Common Shares,code
1,12/31/2018,232887000,139156000,93731000,Operating Expenses,28837000,52177000,-,296000,220466000,...,Non-recurring Events,-,-,-,-,Net Income,10073000,-,10073000,AMZN
2,12/31/2017,177866000,111934000,65932000,Operating Expenses,22620000,38992000,-,214000,173760000,...,Non-recurring Events,-,-,-,-,Net Income,3033000,-,3033000,AMZN
3,12/31/2016,135987000,88265000,47722000,Operating Expenses,16085000,27284000,-,167000,131801000,...,Non-recurring Events,-,-,-,-,Net Income,2371000,-,2371000,AMZN
4,12/31/2015,107006000,71651000,35355000,Operating Expenses,12540000,20411000,-,171000,104773000,...,Non-recurring Events,-,-,-,-,Net Income,596000,-,596000,AMZN
1,9/29/2018,265595000,163756000,101839000,Operating Expenses,14236000,16705000,-,-,194697000,...,Non-recurring Events,-,-,-,-,Net Income,59531000,-,59531000,AAPL
2,9/30/2017,229234000,141048000,88186000,Operating Expenses,11581000,15261000,-,-,167890000,...,Non-recurring Events,-,-,-,-,Net Income,48351000,-,48351000,AAPL
3,9/24/2016,215639000,131376000,84263000,Operating Expenses,10045000,14194000,-,-,155615000,...,Non-recurring Events,-,-,-,-,Net Income,45687000,-,45687000,AAPL
4,9/26/2015,233715000,140089000,93626000,Operating Expenses,8067000,14329000,-,-,162485000,...,Non-recurring Events,-,-,-,-,Net Income,53394000,-,53394000,AAPL
1,12/31/2018,136819000,59549000,77270000,Operating Expenses,21419000,24459000,-,-,105427000,...,Non-recurring Events,-,-,-,-,Net Income,30736000,-,30736000,GOOG
2,12/31/2017,110855000,45583000,65272000,Operating Expenses,16625000,19765000,-,-,81973000,...,Non-recurring Events,-,-,-,-,Net Income,12662000,-,12662000,GOOG
3,12/31/2016,90272000,35138000,55134000,Operating Expenses,13948000,17470000,-,-,66556000,...,Non-recurring Events,-,-,-,-,Net Income,19478000,-,19478000,GOOG
4,12/31/2015,74989000,28164000,46825000,Operating Expenses,12282000,15183000,-,-,55629000,...,Non-recurring Events,-,-,-,-,Net Income,16348000,-,16348000,GOOG
1,12/31/2018,136819000,59549000,77270000,Operating Expenses,21419000,24459000,-,-,105427000,...,Non-recurring Events,-,-,-,-,Net Income,30736000,-,30736000,GOOGL
2,12/31/2017,110855000,45583000,65272000,Operating Expenses,16625000,19765000,-,-,81973000,...,Non-recurring Events,-,-,-,-,Net Income,12662000,-,12662000,GOOGL
3,12/31/2016,90272000,35138000,55134000,Operating Expenses,13948000,17470000,-,-,66556000,...,Non-recurring Events,-,-,-,-,Net Income,19478000,-,19478000,GOOGL
4,12/31/2015,74989000,28164000,46825000,Operating Expenses,12282000,15183000,-,-,55629000,...,Non-recurring Events,-,-,-,-,Net Income,16348000,-,16348000,GOOGL
1,12/31/2018,55838000,9355000,46483000,Operating Expenses,10273000,11297000,-,-,30925000,...,Non-recurring Events,-,-,-,-,Net Income,22112000,-,22111000,FB
2,12/31/2017,40653000,5454000,35199000,Operating Expenses,7754000,7242000,-,-,20450000,...,Non-recurring Events,-,-,-,-,Net Income,15934000,-,15920000,FB
3,12/31/2016,27638000,3789000,23849000,Operating Expenses,5919000,5503000,-,-,15211000,...,Non-recurring Events,-,-,-,-,Net Income,10217000,-,10188000,FB
4,12/31/2015,17928000,2867000,15061000,Operating Expenses,4816000,4020000,-,-,11703000,...,Non-recurring Events,-,-,-,-,Net Income,3688000,-,3669000,FB
1,12/31/2017,4355605,1563701,2791904,Operating Expenses,-,426698,-,-,3232807,...,Non-recurring Events,-,-,-,-,Net Income,444550,-,386256,CCI-PA
2,12/31/2016,3921225,1440521,2480704,Operating Expenses,-,371031,-,-,2920103,...,Non-recurring Events,-,-,-,-,Net Income,356973,-,323982,CCI-PA
3,12/31/2015,3663851,1321426,2342425,Operating Expenses,-,310921,-,-,2668525,...,Non-recurring Events,999049,-,-,-,Net Income,1520992,-,1477004,CCI-PA
4,12/31/2014,3538756,1306606,2232150,Operating Expenses,-,257296,-,-,2549683,...,Non-recurring Events,52460,-,-,-,Net Income,390513,-,346525,CCI-PA
1,3/31/2019,376844000,204086000,172758000,Operating Expenses,37435000,62990000,-,-,315238000,...,Non-recurring Events,-,-,-,-,Net Income,87886000,-,87600000,BABA
2,3/31/2018,250266000,106243000,144023000,Operating Expenses,22754000,43540000,-,-,179657000,...,Non-recurring Events,-,-,-,-,Net Income,64093000,-,63985000,BABA
3,3/31/2017,158273000,58626000,99647000,Operating Expenses,17060000,28553000,-,-,109361000,...,Non-recurring Events,-,-,-,-,Net Income,43675000,-,43675000,BABA
4,3/31/2016,101143000,34355000,66788000,Operating Expenses,13788000,20512000,-,-,71586000,...,Non-recurring Events,-,-,-,-,Net Income,71460000,-,71460000,BABA
1,12/31/2018,312694000,170574000,142120000,Operating Expenses,-,65755000,-,-3455000,232874000,...,Non-recurring Events,-,-,-,-,Net Income,78719000,-,78719000,TCEHY
2,12/31/2017,237760000,120835000,116925000,Operating Expenses,-,50703000,-,-7703000,163835000,...,Non-recurring Events,-,-,-,-,Net Income,71510000,-,71510000,TCEHY
3,12/31/2016,151938000,67439000,84499000,Operating Expenses,-,34595000,-,-874000,101160000,...,Non-recurring Events,-,-,-,-,Net Income,41095000,-,41095000,TCEHY
4,12/31/2015,102863000,41631000,61232000,Operating Expenses,-,24818000,-,-173000,66276000,...,Non-recurring Events,-,-,-,-,Net Income,28806000,-,28806000,TCEHY
1,12/31/2018,312694000,170574000,142120000,Operating Expenses,-,65755000,-,-3455000,232874000,...,Non-recurring Events,-,-,-,-,Net Income,78719000,-,78719000,TCTZF
2,12/31/2017,237760000,120835000,116925000,Operating Expenses,-,50703000,-,-7703000,163835000,...,Non-recurring Events,-,-,-,-,Net Income,71510000,-,71510000,TCTZF
3,12/31/2016,151938000,67439000,84499000,Operating Expenses,-,34595000,-,-874000,101160000,...,Non-recurring Events,-,-,-,-,Net Income,41095000,-,41095000,TCTZF
4,12/31/2015,102863000,41631000,61232000,Operating Expenses,-,24818000,-,-173000,66276000,...,Non-recurring Events,-,-,-,-,Net Income,28806000,-,28806000,TCTZF
1,9/30/2018,20609000,686000,19923000,Operating Expenses,-,5749000,-,-,7048000,...,Non-recurring Events,-,-,-,-,Net Income,10301000,-,9942000,V
2,9/30/2017,18358000,620000,17738000,Operating Expenses,-,4827000,-,-,6003000,...,Non-recurring Events,-,-,-,-,Net Income,6699000,-,6467000,V
3,9/30/2016,15082000,538000,14544000,Operating Expenses,-,4018000,-,-,5058000,...,Non-recurring Events,-,-,-,-,Net Income,5991000,-,5929000,V
4,9/30/2015,13880000,474000,13406000,Operating Expenses,-,3834000,-,-,4802000,...,Non-recurring Events,-,-,-,-,Net Income,6328000,-,6313000,V
1,12/31/2018,103984000,-,103984000,Operating Expenses,-,57663000,-,5485000,63148000,...,Non-recurring Events,-,-,-,-,Net Income,32474000,-,30709000,JPM-PC
2,12/31/2017,94745000,-,94745000,Operating Expenses,-,53436000,-,6068000,59504000,...,Non-recurring Events,-,-,-,-,Net Income,24441000,-,22567000,JPM-PC
3,12/31/2016,91208000,-,91208000,Operating Expenses,-,51117000,-,5872000,56989000,...,Non-recurring Events,-,-,-,-,Net Income,24733000,-,22834000,JPM-PC
4,12/31/2015,89202000,-,89202000,Operating Expenses,-,49420000,-,6624000,56044000,...,Non-recurring Events,-,-,-,-,Net Income,24442000,-,22651000,JPM-PC
1,12/31/2017,93689000,-,93689000,Operating Expenses,-,52178000,-,6291000,58469000,...,Non-recurring Events,-,-,-,-,Net Income,24441000,-,22567000,JPM-PH
2,12/31/2016,90307000,-,90307000,Operating Expenses,-,50015000,-,6073000,56088000,...,Non-recurring Events,-,-,-,-,Net Income,24733000,-,22583000,JPM-PH
3,12/31/2015,89202000,-,89202000,Operating Expenses,-,49420000,-,6624000,56044000,...,Non-recurring Events,-,-,-,-,Net Income,24442000,-,22406000,JPM-PH
4,12/31/2014,91973000,-,91973000,Operating Expenses,-,50128000,-,8263000,58391000,...,Non-recurring Events,-,-,-,-,Net Income,21745000,-,20077000,JPM-PH
1,12/31/2018,103984000,-,103984000,Operating Expenses,-,57663000,-,5485000,63148000,...,Non-recurring Events,-,-,-,-,Net Income,32474000,-,30709000,JPM
2,12/31/2017,94745000,-,94745000,Operating Expenses,-,53436000,-,6068000,59504000,...,Non-recurring Events,-,-,-,-,Net Income,24441000,-,22567000,JPM
3,12/31/2016,91208000,-,91208000,Operating Expenses,-,51117000,-,5872000,56989000,...,Non-recurring Events,-,-,-,-,Net Income,24733000,-,22834000,JPM
4,12/31/2015,89202000,-,89202000,Operating Expenses,-,49420000,-,6624000,56044000,...,Non-recurring Events,-,-,-,-,Net Income,24442000,-,22651000,JPM
1,12/31/2018,103984000,-,103984000,Operating Expenses,-,57663000,-,5485000,63148000,...,Non-recurring Events,-,-,-,-,Net Income,32474000,-,30709000,JPM-PF
2,12/31/2017,94745000,-,94745000,Operating Expenses,-,53436000,-,6068000,59504000,...,Non-recurring Events,-,-,-,-,Net Income,24441000,-,22567000,JPM-PF
3,12/31/2016,91208000,-,91208000,Operating Expenses,-,51117000,-,5872000,56989000,...,Non-recurring Events,-,-,-,-,Net Income,24733000,-,22834000,JPM-PF
4,12/31/2015,89202000,-,89202000,Operating Expenses,-,49420000,-,6624000,56044000,...,Non-recurring Events,-,-,-,-,Net Income,24442000,-,22651000,JPM-PF
1,12/30/2018,81581000,26986000,54595000,Operating Expenses,10775000,22413000,-,-,60174000,...,Non-recurring Events,-,-,-,-,Net Income,15297000,-,15297000,JNJ
2,12/31/2017,76450000,24939000,51511000,Operating Expenses,10594000,21295000,-,-,56828000,...,Non-recurring Events,-,-,-,-,Net Income,1300000,-,1300000,JNJ
3,1/1/2017,71890000,21789000,50101000,Operating Expenses,9143000,19793000,-,-,50725000,...,Non-recurring Events,-,-,-,-,Net Income,16540000,-,16540000,JNJ
4,1/3/2016,70074000,21455000,48619000,Operating Expenses,9046000,21203000,-,-,51704000,...,Non-recurring Events,-,-,-,-,Net Income,15409000,-,15409000,JNJ